<%= form_with(model: score, local: true) do |form| %>
  <% if score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :home_team_id %>
    <%= form.collection_select :home_team_id, Team.all, :id, :full_name, prompt: true %>
  </div>

  <div class="field">
    <%= form.label :visitor_team_id %>
    <%= form.collection_select :visitor_team_id, Team.all, :id, :full_name, prompt: true %>
  </div>

  <div class="field">
    <%= form.label :home_goals %>
    <%= form.number_field :home_goals %>
  </div>

  <div class="field">
    <%= form.label :visitor_goals %>
    <%= form.number_field :visitor_goals %>
  </div>

  <div class="field">
    <%= form.label :overtime %>
    <%= form.check_box :overtime %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

