<p id="notice"><%= notice %></p>

<h1>Scores</h1>

<table>
  <thead>
    <tr>
      <th>Home team</th>
      <th>Visitor team</th>
      <th>Home teams score</th>
      <th>Visitor teams score</th>
      <th>Overtime</th>

      <th>Winner team</th>
      <th>Points for winner team</th>

      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @scores.each do |score| %>
      <tr>
        <td><%= score.home_team.full_name %></td>
        <td><%= score.visitor_team.full_name %></td>
        <td><%= score.home_goals %></td>
        <td><%= score.visitor_goals %></td>
        <td><%= score.overtime %></td>

        <td><b><%= score.winner_team&.full_name %><b></td>
        <td><%= score.points_for_winner_team %></td>

        <td><%= link_to 'Show', score %></td>
        <td><%= link_to 'Edit', edit_score_path(score) %></td>
        <td><%= link_to 'Destroy', score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Score', new_score_path %>
